.TodoList {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: baseline;
  flex-wrap: wrap;
  height: 80%;
  width: 100%;
  overflow: auto;
}

.TodoList-todos-selected-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: cursive;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.TodoList-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: baseline;
  flex-wrap: wrap;
  overflow: auto;
}
