.Task {
  width: 90%;
  margin-bottom: 1rem;
  cursor: pointer;
}

.Task-details-wrapper {
  flex: 8;
  padding: 0.5rem 1rem 0.25rem 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.Task-name-wrapper {
  width: 100%;
  padding-bottom: 0.5rem;
}

.Task-additional-details-wrapper {
  width: 100%;
}

.Task-icon-wrapper {
  padding-left: 1rem;
}
