.ListCard-list-item-title-header {
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ListCard-list-item-details-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: black;
}

.ListCard-header-title-container {
  width: 70%;
  overflow: hidden;
}

.ListCard-header-title-container > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0.25rem;
}

.ListCard-header-input-wrapper {
  width: 75%;
  padding-left: 0.25rem;
}

.ListCard-header-toggle-edit-icon-wrapper {
  cursor: pointer;
  padding: 0 0.25rem;
}

.ListCard-header-delete-list-icon-wrapper {
  cursor: pointer;
}
