.Tasks {
  display: flex;
  width: 100%;
  height: 100%;
}

.Tasks-main-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  align-content: baseline;
}

.Tasks-side-content {
  width: 25%;
  height: 100%;
  background-color: rgb(244, 244, 244);
}

.Tasks-title-container {
  width: 100%;
  height: 3rem;
  text-align: left;
}

.Tasks-input-task-form-container {
  width: 90%;
  height: 5rem;
  display: flex;
  align-items: center;
  text-align: left;
}

.Tasks-task-list-container {
  text-align: left;
  width: 100%;
  height: calc(100% - 8rem);
  overflow: auto;
}
