.NavSidebar-add-list-container {
  height: 4rem;
  display: flex;
  align-items: center;
}

.NavSidebar-add-list-icon-wrapper {
  display: inline-block;
  width: 57px;
}

.NavSidebar-add-list-icon-wrapper:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
}

.NavSidebar-add-list-input-form-wrapper {
  display: inline-block;
  width: calc(100% - 67px);
}
