.TaskDetails {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.TaskDetails-header-section {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.TaskDetails-content-section {
  width: 100%;
  height: calc(100% - 11rem);
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: baseline;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.TaskDetails-content-steps-card-container {
  width: 100%;
  min-height: 7rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.TaskDetails-content-steps-container {
  width: 100%;
  padding-bottom: 1rem;
}

.TaskDetails-content-step-container {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TaskDetails-toggle-completed-icon-container {
  cursor: pointer;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.TaskDetails-content-step-input-container {
  width: calc(100% - 5rem);
}

.TaskDetails-content-step-remove-icon-container {
  cursor: pointer;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.TaskDetails-header-title-wrapper {
  width: 95%;
}

.TaskDetails-content-add-step-container {
  align-self: flex-end;
  width: 90%;
}

.TaskDetails-content-note-container {
  width: 100%;
  min-height: 4rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.TaskDetails-content-note.InputForm-multiline-submit-button-wrapper {
  width: 5rem;
  padding: 0 0.5rem;
}

.TaskDetails-footer-actions-section {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 2.25rem;
}

.TaskDetails-footer-action-wrapper {
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.TaskDetails-footer-close-action {
  justify-content: flex-start;
}

.TaskDetails-footer-delete-action {
  justify-content: flex-end;
}
