.TaskDetails {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.TaskDetails-header-section {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.TaskDetails-content-section {
  width: 100%;
  height: calc(100% - 9rem);
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: baseline;
  padding-top: 1rem;
}

.TaskDetails-content-steps-container {
  padding-bottom: 1rem;
}

.TaskDetails-header-title-wrapper {
  width: 95%;
}

.TaskDetails-content-add-step-container {
  align-self: flex-end;
  width: 90%;
}

.TaskDetails-footer-actions-section {
  align-self: flex-end;
  width: 100%;
  justify-content: center;
  display: flex;
  height: 3rem;
}

.TaskDetails-footer-action-wrapper {
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.TaskDetails-footer-close-action {
  justify-content: flex-start;
}

.TaskDetails-footer-delete-action {
  justify-content: flex-end;
}
