.App {
  text-align: center;
  height: 90vh;
  display: flex;
}

.App-sidebar-wrapper {
  width: 10%;
  height: calc(100%);
  position: relative;
  top: 4rem;
}

.App-content-wrapper {
  width: 90%;
  height: calc(100%);
  position: relative;
  top: 4rem;
}
